html {
  height: 100%;
  display: flex;
}

body,
#root {
  /* have root element take up full height */
  width: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  flex: 1;
  cursor: url("custom-cursor.svg"), auto;
  border-radius: 0.7rem;
}
